venv/
env/
.ruff_cache
*.egg-info/

__pycache__/
*.pyc
*.pyo
*.pyd

*.log
*.bak
*.swp
*.swo

tests/
test/

.vscode/
.idea/
*.iml

__pip_cache__/
pip-log.txt

.dockerignore
Dockerfile

.git/
.gitignore

README.md
LICENSE